@(content: Html)(implicit webJarAssets: WebJarAssets, messages: Messages)
<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("application.name")</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
        <style>
        body {
            font-family: 'Roboto Mono', monospace;
        }
        </style>
    </head>
    <body>
        @content
        @scalajs.html.scripts("client", routes.Assets.at(_).toString, name => getClass.getResource(s"/public/$name") != null)
    </body>
</html>
